<!-- <app-header></app-header> -->
<!-- <div class="container-fluid">
<div class="row">
<div class="col-0 col-sm-0 col-lg-3 col-xl-3 col-xxl-2 p-0">
    <app-sidemenu class="sticky-sidemenu d-none d-lg-block"></app-sidemenu>
</div>
<div class="col-12 col-sm-12 col-lg-9 col-xl-9 col-xxl-10 mt-3">
    <app-employee-service-details></app-employee-service-details>
    <app-styleguide></app-styleguide>
</div>
</div>


<app-footer-landing></app-footer-landing> -->

<!-- <app-togglesidemenu></app-togglesidemenu>
<router-outlet></router-outlet>
<app-footer></app-footer> -->


<article>
    <header>
         <app-header></app-header>
    </header>
    <section>
        <div class="container-fluid">
            <div class="row">
                       <div class="col-12">
                            <app-togglesidemenu></app-togglesidemenu>
                        </div>
            </div>
        </div>
       </section>
       
    <footer>
    <app-footer></app-footer>
    </footer>
</article>







